<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" align="center">
        <tr>
            <td colspan="4" valign="middle" align="center">Зарплаты разработчиков на Python</td>
            <td rowspan="5"> <img src="name.png"></td>
        </tr>
        <tr>

            <td>Должность</td>
            <td>Junior </td>
            <td>Middle</td>
            <td>Senior</td>
        </tr>
        <tr>
            <td>Величина
                зарплаты</td>
            <td>От $300</td>
            <td>От $500</td>
            <td>От $1000</td>
        </tr>