{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Document</title>
</head><body>
<img src="{% static 'style/cat.jpg' %}">
<h1>Cat</h1>
<p>Именя кошек</p>
{% for cat in shablon %}
    <li>{{cat.name}}</li>
        {{cat.color}}
        {{cat.cyes}}
        {% endfor %}
<form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Save</button>
</form>
</body>
</html>